.git
.github
.nx
node_modules
**/node_modules
.pnpm-store
**/vendor
dist
**/dist
coverage
**/coverage
.env
.env.*
**/.env
**/.env.*
apps/api/.phpunit.result.cache
apps/api/database/*.sqlite*
apps/api/storage/logs/*
apps/api/storage/framework/cache/data/*
apps/api/storage/framework/sessions/*
apps/api/storage/framework/views/*
PROJECT_TREE.txt
