APP_NAME="Workforce ERP API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=sqlite

CACHE_STORE=file
QUEUE_CONNECTION=database
SESSION_DRIVER=database

MAIL_MAILER=log
